[package]
name = "parallel-histograms"
version = "0.1.0"
authors = ["Hadrien Grasland <grasland@lal.in2p3.fr>"]
edition = "2018"

[dependencies]
num_cpus = "1.10"
rand = "0.7"
rand_xoshiro = "0.4"
rayon = "1.1"

[profile.release]
debug = true
lto = "full"
codegen-units = 1
panic = "abort"
